@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleMode {
    position: fixed;
    right: 0;
    top: 0;
}

.toggleBar {
    position: fixed;
    right: 82px;
    top: 59px;
    width: 96px;
    height: 48px;
    background: #EEEEEE;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 2px 10px;
}

.footer {
    position: fixed;
    display: flex;
    width:750px;
    bottom:20px;
}
.fot {
    justify-content: center;
    align-items: center;
    display:block;
    margin-left:40%;
    color: #393E46;
}

.sideBar {
    position: fixed;
    left: 0;
    top: 40%;
    left: 10px;
}

.sideBar ul {}

.sideBar ul li {
    padding-bottom: 20px;
    list-style-type:none
}

.loginContainer {
    width: 750px;
    height: 403px;
    background-color: antiquewhite;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}

.wrap {
    padding-left: 40px;
    padding-top: 80px;
}

.left {
    width: 375px;
    height: 403px;
    background: #00ADB5;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #ffffff;
}

.left img {
    margin-right: 30px;
}

.right {
    width: 375px;
    height: 403px;

}

.right h1 {
    margin-left: 80px;
}
/* .right input {
    width: 276px;
    height : 48px;
    border-radius: 12px;
    font-family: roboto;
    font-size: 18px;
    border: 0px;
    padding: 5px 20px;
    background: url(images/icoUserDark.svg) #E7E7E7 no-repeat;
    color: #c4c4c4;
} */

.right p {
    font-size: 13px;
}

.right h1 {
    color: #00ADB5
}

.inputBg {
    width: 276px;
    height : 52px;
    border-radius: 12px;
    border: 0px;
    padding: 5px 10px 5px 5px;
    background-color: #e7e7e7;
    display:flex;
    margin-bottom: 10px;
}
.inputBg img {
    border-right:2px solid #c4c4c4;
    padding-right:5px;
}
.inputBg input {
    font-family: roboto;
    font-size: 18px;
    border:0px;
    background-color: #e7e7e7;
    display:inline-block;
    margin-left: 10px;
    color: #c4c4c4;
}

.right button {
    width: 186px;
    height: 52px;
    background: #AAD8D3;
    border-radius: 12px;
    font-size: 24px;
    color: #ffffff;
    border: 0px;
}